<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->

        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <ng-container *transloco="let t">
                        <div>
                            <a class="whitespace-nowrap text-primary-500 cursor-pointer" [routerLink]="'/dashboard'">
                                {{t('Home')}} </a>
                        </div>
                    </ng-container>
                   
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                        <ng-container *transloco="let t">
                            <span class="ml-1 text-secondary">
                                {{t('searchDoc')}}</span>
                        </ng-container>
                    </div>

                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <ng-container *transloco="let t">
                    <div class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        {{t('searchDoc')}}</div>
                </ng-container>
            </div>
        </div>


    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10 overflow-y-auto" cdkScrollable>
        <div class="flex flex-auto overflow-hidden">
            <fuse-alert class="mb-8" *ngIf="alert" [type]="alert.type" [showIcon]="false">
                {{alert.message}}
            </fuse-alert>
            <form class="example-form" [formGroup]="searchDocumentForm" #addcitizenInformationNgForm="ngForm">
                <table class="example-full-width mt-2" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label *transloco="let t" class="font-medium">{{t('state')}}</mat-label>
                                <mat-select [formControlName]="'stateId'" (selectionChange)="onStateChange($event.value)">
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let stData of stateDropdown; trackBy: trackByFn">
                                        <mat-option [value]="stData.stateId">{{stData.stateName}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="searchDocumentForm.get('stateId').hasError('required')">
                                Required
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium" >{{t('district')}}</mat-label>
                                <mat-select [formControlName]="'districtId'" (selectionChange)="onDisctrictChange($event.value)">
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let districtIData of districtDropdown; trackBy: trackByFn">
                                        <mat-option [value]="districtIData.districtId">{{districtIData.districtName}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label *transloco="let t" class="font-medium">{{t('policeStation')}}</mat-label>
                                <mat-select [formControlName]="'unitsId'">
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let unitsData of unitsDropdown; trackBy: trackByFn">
                                        <mat-option [value]="unitsData.unitId">{{unitsData.unitName}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="searchDocumentForm.get('unitsId').hasError('required')">
                                Required
                                </mat-error>
                            </mat-form-field>
                        </td>
                       
                        <td>
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label *transloco="let t" class="font-medium">{{t('firstName')}}</mat-label>
                                <input matInput [formControlName]="'firstName'" placeholder="Enter employee name">
                                <mat-error *ngIf="searchDocumentForm.get('firstName').hasError('required')">
                                     Required
                                </mat-error>
                            </mat-form-field>
                
                          
                        </td>
                        <td>
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-label *transloco="let t" class="font-medium">{{t('lastName')}}</mat-label>
                                <input matInput [formControlName]="'lastName'" placeholder="Enter employee name">
                                <mat-error *ngIf="searchDocumentForm.get('lastName').hasError('required')">
                                     Required
                                </mat-error>
                            </mat-form-field>
                        </td>

                       
                    </tr>
                </table>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field appearance="outline" [ngClass]="formFieldHelpers" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium">{{t('firregisterFromDate')}}</mat-label>
                                <input matInput [matDatepicker]="picker1" [placeholder]="'Choose a date'"
                                    [formControlName]="'startDate'">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                        </td>
                        <td>
                            <mat-form-field appearance="outline" [ngClass]="formFieldHelpers" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium">{{t('firregisterToDate')}}</mat-label>
                                <input matInput [matDatepicker]="picker1" [placeholder]="'Choose a date'"
                                    [formControlName]="'startDate'">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                        </td>

                        <td><mat-form-field appearance="outline" class="example-full-width">
                            <mat-label *transloco="let t" class="font-medium">{{t('caseNo')}}</mat-label>
                            <input matInput matInput [formControlName]="'caseNo'" maxlength="4">
                            <mat-error *ngIf="searchDocumentForm.get('caseNo').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>

                    </td>

                    <td><mat-form-field appearance="outline"  class="example-full-width">
                        <mat-label *transloco="let t" class="font-medium">{{t('caseStatus')}}</mat-label>
                        <input matInput matInput [formControlName]="'caseStatus'">
                        <mat-error *ngIf="searchDocumentForm.get('caseStatus').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>

                </td>
                    </tr>

                    
                </table>

                <div class="flex items-center justify-center">
                    <button *transloco="let t" mat-button [color]="'accent'"
                        [disabled]="searchDocumentForm.pristine || searchDocumentForm.untouched"
                        (click)="clearForm()">
                       {{t('clear')}}
                    </button>
                        <!-- [disabled]="searchDocumentForm.pristine || searchDocumentForm.invalid" -->

                    <button *transloco="let t" class="ml-2" mat-flat-button [color]="'primary'"
                        (click)="saveCitizenFeedback()">
                        {{t('search')}}
                        
                    </button>
                </div>
            </form>


           

        </div>
        <div class="overflow-x-auto">
            <table mat-table [dataSource]="dataSource" matSort #sort1="matSort" class="w-full mt-[10px]">
                <!-- ID Column -->
               
                     <!--First Name Column -->
                     <ng-container matColumnDef="stateName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-primary-300 dark:bg-slate-500 text-black">State Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.stateName}} </td>
                    </ng-container>
    
                         <!--Last Name Column -->
                         <ng-container matColumnDef="districtName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-primary-300 dark:bg-slate-500 text-black">District Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.districtName}} </td>
                        </ng-container>

                          <!-- Division Name Column -->
                <ng-container matColumnDef="psName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-primary-300 dark:bg-slate-500 text-black"> Police Station </th>
                    <td mat-cell *matCellDef="let row"> {{row.psName}} </td>
                </ng-container>

                <!--First Name Column -->
                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-primary-300 dark:bg-slate-500 text-black">First Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
                </ng-container>

                     <!--Last Name Column -->
                     <ng-container matColumnDef="last_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-primary-300 dark:bg-slate-500 text-black">Last Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
                    </ng-container>

              

                

              
                <!-- KGID Column -->
                <ng-container matColumnDef="caseNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-primary-300 dark:bg-slate-500 text-black"> Case No </th>
                    <td mat-cell *matCellDef="let row"> {{row.caseNo}} </td>
                </ng-container>

                 <!-- KGID Column -->
                 <ng-container matColumnDef="caseStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-primary-300 dark:bg-slate-500 text-black"> Case Status </th>
                    <td mat-cell *matCellDef="let row"> {{row.caseStatus}} </td>
                </ng-container>

            
                <ng-container matColumnDef="doc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-primary-300 dark:bg-slate-500 text-black"> Document </th>
                    <td mat-cell *matCellDef="let row"> {{row.doc}} </td>
                </ng-container>

                
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="bg-primary-300 dark:bg-slate-500 text-black"> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="flex justify-center gap-2">
                            <button mat-icon-button color="primary" (click)="editUser(row)" matTooltip="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <!-- <button mat-icon-button color="warn" (click)="deleteUser(row)" matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button> -->
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    class="hover:bg-hover cursor-pointer"></tr>
            </table>

            <!-- No data message -->
            <div *ngIf="dataSource?.data?.length === 0" class="p-8 text-center">
                No records found
            </div>
        </div>
        <div class="flex justify-end w-full dark:bg-gray-800 bg-card">
            <mat-paginator #paginator1="matPaginator" 
                           [pageSizeOptions]="[5, 10, 25, 100]" 
                           [pageSize]="10"
                           showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

    <!-- Buttons -->

</div>