.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .hintHashtag{
    color: #4f46e5;
    font-size: 500;
    font-weight: bold;
}