<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Header & Cards -->
    <div class="relative pt-8 pb-12 sm:pt-20 sm:pb-24 px-6 sm:px-16 overflow-hidden">
        <app-landing-header></app-landing-header>
    </div>

    <!-- Features-corosel -->
    <div class="flex flex-col items-center px-6 py-10 sm:px-16 sm:pt-18 sm:pb-20 bg-white dark:bg-gray-800">
        <div class="w-full max-w-7xl">
            <app-landing-corosel></app-landing-corosel>
        </div>
    </div>

    <!-- Morque -->
    <div class="px-6 py-10 sm:py-12 sm:px-16  text-on-primary-600">
        <div class="w-full max-w-7xl">
            <app-landing-morques></app-landing-morques>
        </div>
    </div>

    <!-- Emergency -->
    <div class="flex flex-col items-center pt-12 sm:pt-18 pb-8 sm:pb-20 px-6 sm:px-16 bg-gray-50 dark:bg-gray-800">
        <div class="w-full max-w-7xl">
            <app-landing-emergency></app-landing-emergency>
        </div>
    </div>


    <!-- Footer  -->
    <div class="flex flex-col items-center pt-12 sm:pt-18 pb-8 sm:pb-20 px-6 sm:px-16 bg-gray-50 dark:bg-gray-800">
        <div class="w-full max-w-7xl">
            <app-landing-footer></app-landing-footer>
        </div>
    </div>
</div>