<div class="flex flex-col max-w-340 md:min-w-160 max-h-screen">
    <div class="flex flex-0 items-center justify-between px-6 py-4 bg-gradient-to-r from-yellow-600 to-yellow-700 text-white shadow-md"
        cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDrag>
        <div class="flex items-center">
            <span class="text-xl font-semibold tracking-tight">Warning</span>
        </div>
    </div>

    <div class="flex flex-col flex-auto p-6 overflow-y-auto">
        <h5 class="text-center font-semibold text-xl">Access is Open-ended. Do you confirm without end date?</h5>
        <div class="flex justify-end space-x-3 mt-6 pt-4 border-t">
            <button mat-flat-button
                class="min-w-[90px] px-6 py-2 rounded-full bg-blue-600 text-white hover:bg-blue-700 transition-colors duration-200"
                (click)="onClose()">
               ok
            </button>

        </div>

    </div>
</div>