
.otp-input {
  @apply w-12 h-12 text-center text-xl border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500;
}
// .bg-card {
//     box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.10), 0 1.5px 6px 0 rgba(0,0,0,0.08) !important;
//   }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease;
}

.attractive-shadow {
  box-shadow:
    0 8px 32px 0 rgba(255, 255, 255, 0.18),
    0 1.5px 6px 0 rgba(0,0,0,0.08);
}
 