
    <div class="logo mb-2">
        <img src="assets/images/KSPPCW-logo.png" alt="Karnataka State Police Logo" >
    </div>
    <div class="title text-center mb-4">
        <h1 class="text-xl font-bold">Record Room Management System Karnataka State Police</h1>
        <h2 class="text-lg">ನಾಗರೀಕ ಕೇಂದ್ರಿತ ಪೋರ್ಟಲ್  ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪೊಲೀಸ್</h2>
    </div>
    <div class="logoCctsn mb-2">
        <img src="assets/images/logo/cctns.png" alt="CCTNS Logo"  >
    </div>
    <nav>
        <ul class="flex space-x-4">
            <li><a href="#about" class="text-gray-700 hover:text-blue-500">About Us</a></li>
            <li><a href="#citizen-tip" class="text-gray-700 hover:text-blue-500">Citizen Tip</a></li>
            <li><a href="#feedback" class="text-gray-700 hover:text-blue-500">Feedback</a></li>
            <li><a href="#faq" class="text-gray-700 hover:text-blue-500">FAQ</a></li>
            <li><a href="#login" class="text-gray-700 hover:text-blue-500">Log In</a></li>
        </ul>
    </nav>