// .example-form {
//   width: 100%;
  
//   .example-full-width {
//       width: 100%;
//       margin: 0 8px;
      
//       &:first-child {
//           margin-left: 0;
//       }
      
//       &:last-child {
//           margin-right: 0;
//       }
//   }
// }

// .overflow-x-auto {
//   margin-top: 24px;
  
//   table {
//       min-width: 800px;
      
//       th {
//           white-space: nowrap;
//           padding: 12px 16px;
//       }
      
//       td {
//           padding: 12px 16px;
//       }
//   }
// }

// .mat-flat-button {
//   &[color="primary"] {
//       height: 40px;
      
//       .mat-icon {
//           margin-right: 8px;
//       }
//   }
// }

// table.example-full-width {
//   border-spacing: 0 16px;
//   width: 100%;
  
//   td {
//       padding: 0 8px;
      
//       &:first-child {
//           padding-left: 0;
//       }
      
//       &:last-child {
//           padding-right: 0;
//       }
//   }
// }

// td {
//   padding-right: 8px;
// }

.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  