.unread {
    text-decoration: underline;
    text-decoration-color: #007bff; 
    text-decoration-thickness: 2px;
}


.unread::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: #007bff; 
    border-radius: 50%;
}


