<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->

        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium example-full-width">
                    <ng-container *transloco="let t">
                        <div>
                            <a class="whitespace-nowrap text-primary-500 cursor-pointer" [routerLink]="'/dashboard'">
                                {{t('Home')}} </a>
                        </div>
                    </ng-container>

                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                        <ng-container *transloco="let t">
                            <span class="ml-1 text-secondary">
                                {{t('uploadDoc')}}</span>
                        </ng-container>
                    </div>

                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium example-full-width">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <ng-container *transloco="let t">
                    <div class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        {{t('uploadDoc')}}</div>
                </ng-container>
            </div>
        </div>


    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10 overflow-y-auto" cdkScrollable>
        <div class="flex flex-auto overflow-hidden">
            <fuse-alert class="mb-8" *ngIf="alert" [type]="alert.type" [showIcon]="false">
                {{alert.message}}
            </fuse-alert>
            <form class="example-form" [formGroup]="uploadDocumentForm" #addcitizenfeedbackNgForm="ngForm">

                <div class="flex font-semibold text-2xl whitespace-nowrap my-2 ">
                    <div>Case information</div>
                </div>
                <table  class="example-full-width" cellspacing="0">
                    <tr>


                        <td>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{t('state')}}</mat-label>
                                <mat-select [formControlName]="'stateIDInfo'"
                                    (selectionChange)="onStateChange($event.value)"
                                    [panelClass]="'custom-select-panel'">
                                    <div class="px-3 py-2">
                                        <mat-form-field class="w-full">
                                            <input matInput
                                                (keyup)="filterStates($event)"
                                                placeholder="Search state..."
                                                #stateSearchInput
                                                [value]="''"
                                                autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let stData of filteredStates; trackBy: trackByFn">
                                        <mat-option [value]="stData.stateId">{{stData.stateName}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="uploadDocumentForm.get('stateIDInfo').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{t('district')}}</mat-label>
                                <mat-select [formControlName]="'districtId'"
                                    (selectionChange)="onDisctrictChange($event.value)"
                                    [panelClass]="'custom-select-panel'">
                                    <div class="px-3 py-2">
                                        <mat-form-field class="w-full">
                                            <input matInput
                                                (keyup)="filterDistricts($event)"
                                                placeholder="Search district..."
                                                #districtSearchInput
                                                [value]="''"
                                                autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let districtIData of filteredDistricts; trackBy: trackByFn">
                                        <mat-option [value]="districtIData.districtId">{{districtIData.districtName}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="uploadDocumentForm.get('districtId').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{t('policeStation')}}</mat-label>
                                <mat-select [formControlName]="'unitsId'"
                                    (selectionChange)="onUnitChange($event.value)"
                                    [panelClass]="'custom-select-panel'">
                                    <div class="px-3 py-2">
                                        <mat-form-field class="w-full">
                                            <input matInput
                                                (keyup)="filterUnits($event)"
                                                placeholder="Search police station..."
                                                #searchInput
                                                [value]="''"
                                                autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let unitsData of filteredUnits; trackBy: trackByFn">
                                        <mat-option [value]="unitsData.unitId">{{unitsData.unitName}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="uploadDocumentForm.get('unitsId').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </td>

                       
                        <td><mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{t('office')}}</mat-label>
                                <input matInput matInput [formControlName]="'office'" maxlength="30" (keypress)="allowOnlyLetters($event)">
                                <mat-error *ngIf="uploadDocumentForm.get('office').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>

                        </td>
                       

              
                       
                    </tr>
                </table>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field appearance="outline" class="example-full-width">
                            <mat-label *transloco="let t" class="font-medium example-full-width">{{ t('letterNo')}}</mat-label>
                            <input matInput matInput [formControlName]="'letterNo'" [required]="true" >
                            <mat-error *ngIf="uploadDocumentForm.get('letterNo').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                        </td>
                        
                        <td>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{t('caseType')}}</mat-label>
                                <mat-select [formControlName]="'caseType'"  (selectionChange)="onCaseTypeChange($event)"
                                    [panelClass]="'custom-select-panel'">
                                    <div class="px-3 py-2">
                                        <mat-form-field class="w-full">
                                            <input matInput
                                                (keyup)="filterCaseTypes($event)"
                                                placeholder="Search case type..."
                                                #caseTypeSearchInput
                                                [value]="''"
                                                autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let caseStatus of filteredCaseTypes; trackBy: trackByFn">
                                        <mat-option [value]="caseStatus.id">{{caseStatus.value}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="uploadDocumentForm.get('statusId').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </td>
                       

                        <td><mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{ t('location')}}</mat-label>
                                <input matInput matInput [formControlName]="'toAddr'" maxlength="100" [required]="true" (keypress)="allowOnlyLetters($event)">
                                <mat-error *ngIf="uploadDocumentForm.get('toAddr').hasError('required')">
                                    Required 
                                </mat-error>
                            </mat-form-field>

                        </td>
                        <td><mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{ t('author')}}</mat-label>
                                <input matInput matInput [formControlName]="'author'" [required]="true" maxlength="20" (keypress)="allowOnlyLetters($event)">
                                <mat-error *ngIf="uploadDocumentForm.get('author').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>

                        </td>
                      
                    </tr>
                </table>

                <table class="example-full-width" cellspacing="0">

                    <tr>
                        <td>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{t('year')}}</mat-label>
                                <mat-select [formControlName]="'yearId'" (selectionChange)="onYearChange($event.value)"
                                    [panelClass]="'custom-select-panel'">
                                    <div class="px-3 py-2">
                                        <mat-form-field class="w-full">
                                            <input matInput
                                                (keyup)="filterYears($event)"
                                                placeholder="Search year..."
                                                #yearSearchInput
                                                [value]="''"
                                                autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let yrData of filteredYears; trackBy: trackByFn">
                                        <mat-option [value]="yrData.yearId">{{yrData.yearName}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="uploadDocumentForm.get('yearId').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{t('caseStatus')}}</mat-label>
                                <mat-select [formControlName]="'statusId'"
                                    [panelClass]="'custom-select-panel'">
                                    <div class="px-3 py-2">
                                        <mat-form-field class="w-full">
                                            <input matInput
                                                (keyup)="filterCaseStatus($event)"
                                                placeholder="Search case status..."
                                                #caseStatusSearchInput
                                                [value]="''"
                                                autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                    <mat-option [value]="null">Please Select</mat-option>
                                    <ng-container *ngFor="let caseStatus of filteredCaseStatus; trackBy: trackByFn">
                                        <mat-option [value]="caseStatus.id">{{caseStatus.value}}</mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error *ngIf="uploadDocumentForm.get('statusId').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                        </td>
                       
                       
                        <td><mat-form-field appearance="outline" class="example-full-width">
                                <mat-label *transloco="let t" class="font-medium example-full-width">{{ t('firNo')}}</mat-label>
                                <input (input)="generateCrimeNo()" matInput matInput maxlength="4" [formControlName]="'firNo'"
                                    [required]="true"  (keypress)="allowOnlyNumbers($event)">
                                <mat-error *ngIf="uploadDocumentForm.get('firNo').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>

                        </td>

                        <!-- <td>
                    <tr>

                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Crime Number (FIR No)</mat-label>
                            <input matInput formControlName="crimeNo" [value]="crimeNo" disabled>
                        </mat-form-field>
                    </tr>
                    </td> -->

                    <td><mat-form-field appearance="outline"  class="example-full-width" >
                        <mat-label *transloco="let t" class="font-medium example-full-width">{{ t('caseNo')}}</mat-label>
                        <input matInput matInput [formControlName]="'caseNo'">
                        <mat-error *ngIf="uploadDocumentForm.get('caseNo').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
             
                    </tr>
                </table>

                <table class="example-full-width" cellspacing="0">

        
                        <mat-form-field appearance="outline"  class="col-md-3">
                            <mat-label *transloco="let t" class="font-medium example-full-width">{{t('registerDate')}}</mat-label>
                            <input matInput [matDatepicker]="picker1" [placeholder]="'Choose a date'"
                                [formControlName]="'caseDate'">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                   
                </table>

                <div class="flex font-semibold text-2xl  whitespace-nowrap my-5 ">
                    <div>Files/Documents</div>
                </div>

                <app-upload-files (filesWithMetadataSelected)="onFilesWithMetadataSelected($event)"
                    [DocumentTypeDropDown]="DocumentTypeDropDown" [crimeNo]="crimeNo" [FileTypeDropDown]="FileTypeDropDown" [ClassificationTypeDropDown]="ClassificationTypeDropDown" [masterData]="masterData">
                </app-upload-files>

                <div class="flex items-center justify-end py-3">
                    <button *transloco="let t" mat-button [color]="'accent'"
                        [disabled]="uploadDocumentForm.pristine || uploadDocumentForm.untouched" (click)="clearForm()">
                        {{t('clear')}}
                    </button>
                    <button *transloco="let t" class="ml-2" mat-flat-button [color]="'primary'"
                    [disabled]="!canSubmit" (click)="sumbitUpload()">
                        {{t('submit')}}
                    </button>
                </div>
            </form>

        </div>
    </div>

    <!-- Buttons -->

</div>