<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-3 sm:p-5">
        <!-- CONTENT GOES HERE -->
        <div class="bg-card rounded-lg shadow-md">
            <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                    <!-- Avatar and name -->
                    <div class="flex flex-auto items-center min-w-0">
                        <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                            <img class="w-full h-full object-cover" src="assets/images/KSPPCW-logo.png"
                                alt="User Avatar">
                        </div>
                        <div class="flex flex-col min-w-0 ml-4">
                            <ng-container *transloco="let t">
                                <h1
                                    class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                    {{t('welcome-back')}}, {{authData.UserName}}!
                                </h1>
                            </ng-container>
                            <!-- <div class="flex items-center">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                                <span class="ml-1.5 leading-6 truncate text-secondary">You have 2 new messages and 15 new tasks</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-full min-w-0">
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Active users</div>

                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                        {{currentUserData.count}}</div>
                    <div class="flex cursor-pointer" (click)="goToActiveUserList(currentUserData)">
                        <a class="inline-flex items-center -ml-1.5 text-blue-600 font-medium">
                            <span class="ml-1">Users</span><mat-icon class="icon-size-5 text-blue-600"
                                [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        </a>
                    </div>


                </div>

            </div>
      
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Pending Approval</div>

                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                        8</div>
                    <div class="flex cursor-pointer" (click)="goToPendingApproval()">
                        <a class="inline-flex items-center -ml-1.5 text-red-500 font-medium">
                            <span class="ml-1">Approvals</span><mat-icon class="icon-size-5 text-red-500"
                                [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        </a>
                    </div>


                </div>

            </div>

            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Notifications</div>

                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none  text-amber-500">
                        4</div>
                    <div class="flex cursor-pointer" (click)="goToNotification()">
                        <a class="inline-flex items-center -ml-1.5  text-amber-500 font-medium">
                            <span class="ml-1">Notification</span><mat-icon class="icon-size-5 text-amber-500"
                                [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        </a>
                    </div>


                </div>

            </div>

        </div>
        <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                    <!-- Existing cards for User Count and Role Count -->

                    <!-- Favorites List -->
                    <div
                        class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex flex-col sm:flex-row items-start justify-between">
                            <div class="text-lg font-bold tracking-tight leading-6 truncate">Recent Favorites Files
                            </div>
                        </div>

                        <div *ngIf="favoritesList && favoritesList.length > 0; else noData">
                            <div class="flex flex-col mt-2 divide-y">
                                <ng-container *ngFor="let favoritesItem of favoritesList; trackBy: trackByFn">
                                    <div class="favorite-card py-3" [@fadeIn]>
                                        <div class="favorite-card-header">
                                            <div class="file-info">
                                                <div class="file-name"> <mat-icon
                                                        (click)="viewImage(favoritesItem.file)"
                                                        class="cursor-pointer">{{ 'insert_drive_file' }}</mat-icon>
                                                    <span class="ml-1.2">{{
                                                        favoritesItem.file.fileName }}</span>
                                                </div>

                                                <div class="added-at"> <mat-icon class="icon-size-5 text-hint"
                                                        [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                                    <span class="ml-1.2">{{ favoritesItem.added_at | date: 'medium'
                                                        }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="favorite-card-body">
                                            <div class="file-details">
                                                <div><strong>File Type:</strong> {{ favoritesItem.file.subject }}</div>
                                                <div><strong>Subject:</strong> {{ favoritesItem.file.fileType }}</div>
                                                <div><strong>Classification:</strong> {{
                                                    favoritesItem.file.classification }}</div>
                                                <div class="hash-tags my-1">
                                                    <strong>Hash Tag:</strong>
                                                    <mat-chip-list>
                                                        <mat-chip
                                                            *ngFor="let tag of favoritesItem.file.hashTag.split(',')"
                                                            class="py-0.5 bg-blue-400  dark:bg-blue-500 px-3 rounded-full text-sm font-semibold text-white">
                                                            {{ tag.trim() }}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="view-all-button-container mt-2 flex justify-end">
                                    <button mat-button color="primary" (click)="viewAll()">
                                        <mat-icon>visibility</mat-icon>
                                        View All
                                    </button>
                                </div>
                            </div>

                        </div>
                        <ng-template #noData>
                            <p>No data available</p>
                        </ng-template>
                    </div>

                    <!-- Latest Used Files -->
                    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <h2 class="text-lg font-medium tracking-tight leading-6 truncate">Latest Used Files</h2>
                        <ul *ngFor="let file of latestFiles">
                            <li>{{ file.fileName }}</li>
                        </ul>
                    </div>

                    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <h2 class="text-lg font-medium tracking-tight leading-6 truncate">Uploaded Documents</h2>
                        <ul *ngFor="let file of latestFiles">
                            <li>{{ file.fileName }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>