<div class="flex flex-col w-full max-w-3xl h-[90vh] bg-white rounded-lg shadow-lg overflow-hidden">
  <!-- Header -->
  <div
    class="flex items-center justify-between px-6 py-4 bg-gradient-to-r from-primary-600 to-primary-700 text-white shadow-md">
    <div class="flex-1 flex items-center">
      <span class="text-xl font-semibold tracking-tight truncate" *transloco="let t">{{t('doc')}}</span>
    </div>
    <button mat-icon-button (click)="onNoClose()" [tabIndex]="-1">
      <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <!-- Preview Area -->
  <div class="flex-1 flex flex-col items-center justify-center bg-gray-50 overflow-auto p-4">

    <!-- Conditional iframe render -->
    <ng-container *ngIf="safeUrl && viewableTypes.includes(getExtension(data.name))">
      <div class="flex flex-col items-center w-full">
        <iframe [src]="safeUrl" width="100%" height="600px" frameborder="0"></iframe>
      </div>
    </ng-container>


    <!-- Footer -->
    <div class="flex justify-center py-4 border-t">
      <button mat-stroked-button (click)="onNoClose()">
        <mat-icon>close</mat-icon> Close
      </button>
    </div>
  </div>