.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .mat-mdc-dialog-container {

    .mat-mdc-dialog-surface {
        padding: 0 !important;
    }
}
.text-white{
    color: white !important;
}